target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

logs/

shell_script/

release/bin/logs/
release/libs

spark_submit/

src/main/resources/application-tmp.properties

ssh.sh

quick.bat

*-RELEASE/
*-RELEASE.tar