<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
    </settings>

	<plugins>
		<!-- <plugin interceptor="com.zyc.zspringboot.intercepts.PageInterceptor">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*findList|.*select*"/>
		</plugin> -->
	<plugin interceptor="com.github.pagehelper.PageHelper">
		<property name="dialect" value="mysql" />
		<property name="rowBoundsWithCount" value="true" />
	</plugin>   
	</plugins>
	
</configuration>