@charset "utf-8";

/* -------------------------------------------------
 * 文档底部
 * ------------------------------------------------- */
 .footer{
 	width: 100%;
 	margin-top: 1rem;
 	height: 2rem;
 	p{
 		line-height: 2rem;
 		text-align: center;
 		font-size: 0.8rem
 	}
 }