input[type="text"] {
	height: 40px;
}

input[type="password"] {
	height: 40px;
}

input[type="checkbox"] {
	display: inline-block;
	¡¡¡¡margin-bottom: 10px;
	line-height: 40px;
}

.text-height {
	height: 40px;
}

.text-width {
	width: 100%;
}

.text-width2 {
	width: 104%;
}

.btn-left {
	text-align: left;
	padding-left: 5px;
}