*{margin:0;padding:0;box-sizing:border-box;}
h1,h2,h3,h4,h5,h6,a,p,label,ul,li,label,span{margin:0;padding:0;font-family:'微软雅黑';}
a,a:active,a:focus, a:hover{text-decoration:none;}
.clear{clear:both;}
body{background:#ededed;}
html,body{height:100%;}

.device .deviceLeft{width:100px;height:500px;border-right:1px solid #ccc;float:left;overflow: auto;}
.device .deviceLeft h3{padding-left:10px;font-size:14px;background:#ddd;line-height:36px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.device .deviceLeft .deviceLeft_box{overflow: hidden;padding:10px 0;}
.device .deviceLeft .deviceLeft_box .node{user-select:none;width:80px;height:40px;line-height:20px;float: left;margin:5px;}
.device .node{width:80px;height:50px;line-height:30px;box-shadow:2px 2px 10px #aaa;border-radius:3px;text-align:center;z-index:20;background-color:#f1f1f2;color:black;padding:10px;font-size:14px;cursor:pointer;}
.device .node:hover{box-shadow:2px 2px 19px #444;opacity:.8;filter:alpha(opacity=80);}
.device .node1css{border:lightskyblue 1px solid;}
.device .node2css{border:orange 1px solid;}
.device .node3css{border:indianred 1px solid;}
.device .node4css{border:greenyellow 1px solid;}
.device .node5css{border:#ccc 1px solid;}
.device .nodetaskscss{border:lightskyblue 1px solid;}
.device .nodeshellcss{border:orange 1px solid;}
.device .nodegroupcss{border:greenyellow 1px solid;}
.device .nodejdbccss{border:green 1px solid;}
.device .nodehdfscss{border:royalblue  1px solid;}
.device .nodehttpcss{border:indigo  1px solid;}
.device .nodeemailcss{border:red   1px solid;}
.device .nodeflumecss{border: #9E792E   1px solid;}

.device .deviceLeft2{width:210px;height:750px;border-right:1px solid #ccc;float:left;overflow: auto;}
.device .deviceLeft2 h3{padding-left:10px;font-size:14px;background:#ddd;line-height:36px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.device .deviceLeft2 .deviceLeft_box{overflow: hidden;padding:10px 0;}
.device .deviceLeft2 .deviceLeft_box .node{user-select:none;width:80px;height:40px;line-height:20px;float: left;margin:5px;}
.device .node{float:left;width:80px;height:50px;line-height:30px;box-shadow:2px 2px 10px #aaa;border-radius:3px;text-align:center;z-index:20;background-color:#f1f1f2;color:black;padding:10px;font-size:14px;cursor:pointer;}
.device .node:hover{box-shadow:2px 2px 19px #444;opacity:.8;filter:alpha(opacity=80);}
.device .nodedata_nodecss{border:lightgreen 2px solid;}
.device .nodelabelcss{border:lightgreen 2px solid;}
.device .nodecrowd_rulecss{border:green 2px solid;}
.device .nodecrowd_filecss{border:lightcoral 2px solid;}
.device .nodecrowd_operatecss{border:black 2px solid;}

.device .nodefiltercss{border:dodgerblue 2px solid;}
.device .nodeshuntcss{border:yellow 2px solid;}
.device .noderightscss{border:darkred 2px solid;}
.device .nodetouchcss{border:darkblue 2px solid;}
.device .nodetncss{border:lightskyblue 2px solid;}
.device .nodeplugincss{border:greenyellow 2px solid;}
.device .nodemessagecss{border:lightskyblue 2px solid; background-color: LightGrey;}
.device .nodeactive_eventcss{border:lightskyblue 2px solid; background-color: LightGrey;}
.device .nodeid_mappingcss{border:cadetblue 2px solid;}
.device .noderiskcss{border: #009900 2px solid;}
.device .nodemodelcss{border: #009900 2px solid; background-color: LightGrey;}
.device .nodemanual_confirmcss{border: #009900 2px solid;}
.device .nodecode_blockcss{border: #009900 2px solid;}
.device .nodecustom_listcss{border: #009900 2px solid;}

.device .nodeflowcss{border:lightskyblue 1px solid;}

.device .node5css{border:#ccc 1px solid;}
.device #deviceRight{position:absolute;right:0;width:calc(100% - 120px);height:100%;box-sizing:border-box;background:url(../../img/jsplumb/bg.png);}
.device #deviceRight2{position:absolute;right:0;width:calc(100% - 210px);height:100%;box-sizing:border-box;background:url(../../img/jsplumb/bg.png);}
.device #myDropDown{width:80px;margin-left:-14px;border:1px solid #ccc;text-align:center;}
.device #m1{width:100%;height:100%;}
